<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <title>Про нас</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">
  <link rel="icon" href="http://rukomysly.com.ua/image/catalog/favicon.png">
  <link href={% static 'polls/about/about_page.css' %} type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="background_image">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marck+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pangolin">
    <div class="header">
        <div class="header-left-part">
          <img src={% static 'polls/images/logo.jpg' %} alt="">
          <span>Рукомисли</span>
        </div>
        <div class="header-right-part">
          <a href="/home">Головна</a>
          <a href="/products">Вироби</a>
          <a href="/about"> Про нас</a>
          <a href="/login">Зайти</a>
        </div>
      </div>
<div class="second_div">
  <div class="wrapper">
    <div class="col-sm-5 col-md-offset-1 panel_d">
      <div class="panel-heading">Про нас</div>
      <div class="panel-body">
        <p> Соціальне підприємство “Рукомисли” засновано у
          липні 2015 року громадською організацією “Центр “Жіночі перспективи”
          в рамках проекту ОБСЄ протидії торгівлі людьми. Метою створення підприємства
          стала допомога соціально уразливим категоріям (безробітнім, жертвам торгівлі
          людьми, учасникам АТО, ВПО тощо) у набутті нових професійних навичок,
          які сприятимуть самозайнятості або пошуку нового робочого місця.</p>
      </div>
  </div>
</div>
<div class="wrapper">
  <div class="col-sm-5 col-md-offset-1 panel_d">
    <div class="panel-heading">Наша місія</div>
    <div class="panel-body">
      <p> Допомога людям у кризових життєвих
        ситуаціях шляхом залучення їх до трудової
        діяльності та арт-терапії та сприяння у
        працевлаштуванні.</p>
    </div>
</div>
</div>

</div>
</div>


  <div class="description">
    <!-- <hr></hr> -->
    <p>Соціальне підприємство “Рукомисли” працює та розвивається у трьох напрямках:</p>
      <ul clas="list">
        <li>садово-паркова пластика;</li>
        <li>виготовлення виробів з вовни у техніці сухого та мокрого валяння;</li>
        <li>ручний розпис по тканині (батік).</li>
      </ul>
    <p>Для цього постійно проводяться навчальні курси,
      програму для яких розробляє арт-директорка
      <a href="https://www.facebook.com/natalia.leykina1" target="_blank">Наталя Лєйкіна</a>,
      художниця та скульпторка за фахом.
    </p>
    <p>
      Ще одним напрямком нашої діяльності є проведення майстер-класів.
      Ми працюємо з учнями від 6-8 років в залежності від складності програми.
      Верхнього вікового порогу не існує.
      Майстер-класи завжди проводяться з нашими матеріалами
      та інструментами, що входить у вартість.
      Тема і місце проведення МК обговорюється попередньо.
    </p>
    <p>
        Соціальне підприємство “Рукомисли” активно приймає
        участь у різних тематичних заходах та ярмарках,
        де можна подивитися та придбати наші вироби.
    </p>
    <p>
       Будь-який товар, представлений в інтернет-магазині можна
       купити або замовити власний варіант у схожій стилістиці.
    </p>
  <div class="hr"><hr></hr></div>
</div>
  <!-- </div> -->


  <!-- <p>Соціальне підприємство створено
  в рамках проекту «Запобігання
  торгівлі людьми в Україні
  шляхом посилення економічних
  можливостей представників груп ризику»,
  який впроваджується Координатором проектів
  ОБСЄ в Україні у співпраці з Міністерством соціальної політики
  України за фінансової підтримки урядів  Канади, Норвегії
  та США.</p> -->


<div class="donors">
    <div class="donors-head">
      <span> НАШІ ДОНОРИ: </span>
    </div>
    <div class="logos">
      <div class="logo-container">
        <img src={% static 'polls/images/OBSE.png' %} alt="">
        <div>
          <span> Організація з безпеки та співробітництва в Європі</span>
        </div>
        <div>
          <span>  Координатор проектів ОБСЄ в Україні</span>
        </div>
      </div>

      <div class="logo-container">
        <img src={% static 'polls/images/us.jpg' %} alt="">
        <div>
          <span>U.S. Mission to the OSCE </span>
        </div>
      </div>
      <div class="logo-container women-logo">
        <img src={% static 'polls/images/logo1.png' %} alt="">
        <div>
          <span>Громадська організація</span>
        </div>
        <div>
          <span>Центр Жіночі Перспективи</span>
        </div>
      </div>
      <div class="logo-container">
        <img src={% static 'polls/images/ukraine.png' %} alt="">
        <div>
          <span>Міністерство соціальної</span>
        </div>
        <div>
          <span>політики України </span>
        </div>
      </div>
      <div class="logo-container">
        <img src={% static 'polls/images/norway.png' %} alt="">
        <div>
          <span>NORWEGIAN MINISTRY</span>
        </div>
        <div>
          <span>OF FOREIGN AFFAIRS</span>
        </div>
      </div>
      <div class="logo-container">
        <img src={% static 'polls/images/canada.png' %} alt="">
        <div>
          <span> Government of Canada </span>
        </div>
        <div>
          <span> Gouvernement du Canada </span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="three-el">
      <div class="stay-con">
        <div class="footer-sec-name">
          <span> ЗАЛИШАЙТЕСЬ НА ЗВ'ЯЗКУ </span>
        </div>
        <div class="stay-con-text">
          <span> Залиште свою пошту, щоб отримувати новини від нас </span>
        </div>
        <div class="mail">
          <div class="stay-con-email">
            <input type="e-mail" value="E-mail">
          </div>
          <div class="stay-con-sign">
            <button type="button"> Відправити </button>
          </div>
        </div>
        <div class="stay-con-fb">
          <a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">
            <img src={% static 'polls/images/fb-logo.png' %} alt="">
          </a>
        </div>
      </div>
      <div class="middle">
        <div class="footer-sec-name">
          <span> НАЗВА ТЕКСТУ </span>
        </div>
        <div class="middle-text">
          <span>
            This paragraph
            contains a lot of spaces
            in the source code,
            but the browser
            ignores it. So, this is a test text and later
            here will be cool text about something cool.
          </span>
        </div>
      </div>
      <div class="navigate">
        <div class="footer-sec-name">
          <span> НАВІГАЦІЯ </span>
        </div>
        <div class="navigate-table">
          <table>
            <tr>
              <td><a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">Події</a></td>
              <td><a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">Підтримка</a></td>
            </tr>
            <tr>
              <td><a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">Наша команда</a></td>
              <td><a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">Про нас</a></td>
            </tr>
            <tr>
              <td><a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">Зв'яжіться з нами</a></td>
              <td><a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">Веб дизайн</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="strip">
      <span> &#9679; Адресса: Кавалерідзе 9а/14, Львів, Україна &#9679; Телефон: 0487636854 &#9679; </span>
    </div>
    <div class="bottom">
      <span>Privacy policy &#9679; 2017 UCU students </span>
    </div>
  </div>
</body>
</html>
