<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href={% static "polls/index/main.css" %} />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="icon" href="http://rukomysly.com.ua/image/catalog/favicon.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marck+Script">

  <script type="text/javascript" src={% static 'polls/index/index.js' %}>

  </script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pangolin">\
  <title> Рукомисли </title>
</head>
<body>
  <div class="header">
    <div class="header-left-part">
      <img src={% static 'polls/images/logo.jpg' %} alt="">
      <span>Рукомисли</span>
    </div>
    <div class="header-right-part">
      <a href="/home">Головна</a>
      <a href="/products">Вироби</a>
      <a href="/about"> Про нас</a>
      <a href="/login">Зайти</a>
    </div>
  </div>
  <div class="big-img"></div>
  <aside class="initial_product_display front_view_element text_white">

    <section class="initial_product_display_tag_container">
        <div class="initial_product_display_tag background_black text_white">
            <span>Знайди своє</span>
        </div>
    </section>
  <section class="initial_display_product_list">
    {% if latest_product_list %}
        {% for products,FirstImage,images in latest_product_list %}
        <article class="product_home">
            <img src="{{ FirstImage.Image.url }}" alt="" class="full_scale_element_image_sepia" />
            <div class="overlay_to_bottom">[
                <h4 class="product_title_text">{{ products.Name }}</h4>
            </div>
            <div class="overlay_to_top">
              <p class="product_description_text">
                  Price:{{ products.Price }} $
              </p>
            </div>
        </article>
        {% endfor %}
        {% endif %}


    </section>
</aside>
  <div class="carousel-section">
    <div class="background"></div>
    <div class="transp-pic">  </div>
    <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        {% if list_of_all_products %}
          {% for products,images in list_of_all_products %}
        {% if forloop.counter0 == 0 %}
          <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
        {% else %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endif %}

        {% endfor %}
            </ol>
          <div class="carousel-inner">
         {% for products,images in list_of_all_products %}
        {% if forloop.counter0 == 0 %}
          <div class="item active">
            <div class="slide-pic">
              <img src="{{ images.Image.url }}" alt=""/>
            </div>
            <div class="content">
              <div class="item-name">
                <span> {{ products.Name }} </span>
              </div>
              <div class="item-desc">
                <span> {{ products.Description }}</span>
              </div>
              <div class="but">
                <button type="button"> Дізнайтесь більше </button>
              </div>
              <div class="item-back"></div>
            </div>
          </div>
        {% else %}

          <div class="item">
            <div class="slide-pic">
              <img src="{{ images.Image.url }}" alt=""/>
            </div>
            <div class="content">
              <div class="item-name">
                <span> {{ products.Name }} </span>
              </div>
              <div class="item-desc">
                <span> {{ products.Description }}</span>
              </div>
              <div class="but">
                <button type="button"> Дізнайтесь більше </button>
              </div>
              <div class="item-back"></div>
            </div>
          </div>
            {% endif %}
            {% endfor %}
            </div>
           {% endif %}
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>
  <div class="donors">
    <div class="donors-head">
      <span> Соціальне підприємство «Рукомисли»
СТВОРЕНО ГРОМАДСЬКОЮ ОРГАНІЗАЦІЄЮ «ЦЕНТР «ЖІНОЧІ ПЕРСПЕКТИВИ» В РАМКАХ ПРОЕКТУ «ЗАПОБІГАННЯ ТОРГІВЛІ
ЛЮДЬМИ В УКРАЇНІ ШЛЯХОМ ПОСИЛЕННЯ ЕКОНОМІЧНИХ МОЖЛИВОСТЕЙ ПРЕДСТАВНИКІВ ГРУП РИЗИКУ»,
 ЯКИЙ ВПРОВАДЖУЄТЬСЯ КООРДИНАТОРОМ ПРОЕКТІВ ОБСЄ В УКРАЇНІ У СПІВПРАЦІ З МІНІСТЕРСТВОМ СОЦІАЛЬНОЇ
ПОЛІТИКИ УКРАЇНИ ЗА ФІНАНСОВОЇ ПІДТРИМКИ УРЯДІВ КАНАДИ, НОРВЕГІЇ ТА США</span>
    </div>
    <div class="logos">
      <div class="logo-container">
        <img src={% static 'polls/images/logo1.png' %} alt="">
      </div>
      <div class="logo-container">
        <img src={% static 'polls/images/ukraine.png' %} alt="">
        <div>
          <span>Міністерство соціальної</span>
        </div>
        <div>
          <span>політики України </span>
        </div>
      </div>
      <div class="logo-container">
        <img src={% static 'polls/images/OBSE.png' %} alt="">
        <div>
          <span> Організація з безпеки та співробітництва в Європі</span>
        </div>
        <div>
          <span>  Координатор проектів ОБСЄ в Україні</span>
        </div>
      </div>
      <div class="logo-container">
        <img src={% static 'polls/images/us.jpg' %} alt="">
        <div>
          <span>U.S. Mission to the OSCE </span>
        </div>
      </div>
      <div class="logo-container">
        <img src={% static 'polls/images/norway.png' %} alt="">
      </div>
      <div class="logo-container">
        <img src={% static 'polls/images/canada.png' %} alt="">
        <div>
          <span> Government of Canada </span>
        </div>
        <div>
          <span> Gouvernement du Canada </span>
        </div>
      </div>
    </div>
  </div>
  <div class="line">
    <span> 	&#x25cf; 	&#x25cf; 	&#x25cf; 	&#x25cf; &#x25cf; </span>
  </div>
  <div class="footer">
    <div class="three-el">
      <div class="stay-con">
        <div class="footer-sec-name">
          <span> ЗАЛИШАЙТЕСЬ НА ЗВ'ЯЗКУ </span>
        </div>
        <div class="stay-con-text">
          <span> Залиште свою пошту, щоб отримувати новини від нас </span>
        </div>
        <div class="mail">
          <div class="stay-con-email">
            <input type="e-mail" placeholder="E-mail">
          </div>
          <div class="stay-con-sign">
            <button type="button"> Відправити </button>
          </div>
        </div>
        <div class="stay-con-fb">
          <a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">
            <img src={% static 'polls/images/fb-logo.png' %} alt="">
          </a>
        </div>
      </div>
      <div class="middle">
        <div class="footer-sec-name">
          <span> РУКОМИСЛИ </span>
        </div>
        <div class="middle-text">
          <span>
            This paragraph
            contains a lot of spaces
            in the source code,
            but the browser
            ignores it. So, this is a test text and later
            here will be cool text about something cool.
          </span>
        </div>
      </div>
      <div class="navigate">
        <div class="footer-sec-name">
          <span> НАВІГАЦІЯ </span>
        </div>
        <div class="navigate-table">
          <table>
            <tr>
              <td><a href="https://www.facebook.com/pg/rukomysly/events/?ref=page_internal" target="_blank">Події</a></td>
              <td><a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">Підтримка</a></td>
            </tr>
            <tr>
              <td><a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">Наша команда</a></td>
              <td><a href="/about">Про нас</a></td>
            </tr>
            <tr>
              <td><a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">Зв'яжіться з нами</a></td>
              <td><a href="https://www.facebook.com/rukomysly/?fref=ts" target="_blank">Веб дизайн</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="strip">
      <span> &#9679; Адресса: Кавалерідзе 9а/14, Львів, Україна &#9679; Телефон: 0487636854 &#9679; </span>
    </div>
    <div class="bottom">
      <span>Privacy policy &#9679; 2017 UCU students </span>
    </div>
  </div>
</body>
</html>
